body { background: #EEE;
color: #000; font-size: 11px;
font-family: Verdana, sans-serif;
margin: 0;
text-align: center;
padding-top:100px;
}
a:hover {
  color:white;
  background-color:gray;
}

#tudo {
background: #FFF;
border: #000 1px solid;
width: 750px;
margin: auto;
text-align: left;
}
#cabecalho {
    text-align:center;
    background-repeat:no-repeat;
    background-color:#efefef;
    padding-bottom: 15px;
    height:80px;
    background-position:center;
    font-family:"RichardMurray","URW Chancery L";
    }
#conteudo {
	clear: both;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	background: white;
	}


#rodape {
	clear: both;
	background: #000;
	color: #FFF;
	padding: 5px;
	text-align: center;
	}

